#loading-mask {color: #D85909; font-size: 1.1em; font-weight: bold; opacity: 0.8; position: absolute; text-align: center; z-index: 500; display:none;}
#loading-mask .loader {background: none repeat scroll 0 0 #FFF4E9; border: 2px solid #F1AF73; color: #D85909; font-weight: bold; left: 50%; margin-left: -105px; padding: 15px 30px; position: fixed; text-align: center; top: 45%; width: 110px; z-index: 1000;}
#photo_img_box, .photo_img_box{display:inline-block; width:100px; height:100px; position:relative; border:1px solid #EFEFEF;}
#photo_img_box span.remove {cursor: pointer; position: absolute; right: -6px; top: -8px;}
#new_childrens .item {border:1px solid #efefef; width:360px; float:left; margin-right:10px;}
#new_childrens .item .control-group {padding-top:10px; padding-bottom:10px;}
#new_childrens .item .control-label {width:125px;}
#new_childrens .item .controls {margin-left:130px;}

.auto-width {min-width:100px;}
.required {color:red;}
.noPadding {padding:0 !important;}
.noMargin {margin:0 !important;}
.inline {display:inline-block !important;}
.right {text-align:right;}
.table th, 
.table td {padding:8px 5px;}

/*From Other*/
.sorting-indicator {background-image: url("../images/sort.gif"); background-repeat: no-repeat; display: none; height: 4px; margin-left: 7px; margin-top: 8px; width: 7px;}
th.sortable a, 
th.sorted a {display: block; overflow: hidden;}
th.sortable a span, 
th.sorted a span {cursor: pointer; float: left; color:#353535;}
th.sorted.asc .sorting-indicator, th.desc:hover span.sorting-indicator {background-position: 0 0; display: block;}
th.sorted.desc .sorting-indicator, th.asc:hover span.sorting-indicator {background-position: -7px 0; display: block;}
tr.search_row input[type="text"] {width:97%; margin:0;}
tr.search_row select {margin:0;}
tr.search_row td {vertical-align: middle;}

.grade_class {margin-bottom:5px;}
.grade_class .row-fluid {margin-bottom:5px;}
.sub-label {display:inline-block; padding-top:5px;}
.control-label input[type="checkbox"],
.sub-label input[type="checkbox"] {margin-top:0;}

.admin-box .form-buttons {padding:10px; text-align:right; border-bottom:1px solid #E5E5E5}
.same-control-label {padding-top:5px;}
.menu.horizontal {margin:0;}
.menu.horizontal li {display:inline-block; width:200px; text-align:center;}

.sub-title {line-height:30px; padding-left:8px;}
