/*
Basic Typography
 */
body {
	/*background-color: #d9dde8;*/
}

h1,h2,h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: normal;
	line-height: 2.0;
}

/*
Helpers
 */
.auto-width {width: auto !important;}
.search_row .auto-width {max-width:240px;}

p.intro {
	margin: 0 auto 1em auto;
	font-size: 125%;
	color: #777;
	/*max-width: 45em;*/
	/*text-align: center;*/
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.small {
	font-size: 90%;
	font-weight: lighter;
	line-height: 1.2em;
	color: #999;
	font-family: Helvetica, sans-serif;
}

.big-text {
	font-size: 2.4em;
}

pre {
	margin-top: 18px;
}

/*
Page Structure
 */
.container-fluid,.fluid-container {
	margin: 0 auto;
	/*max-width: 1400px;*/
}

.body {
	background-color: white;

	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	/*box-shadow: 0 1px 10px rgba(0,0,0,0.1);*/
	padding: 100px 20px 20px 20px;
	z-index: 1;
	min-height: 300px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*border-radius: 5px;*/
}

.navbar {
	font-size: 15px;
}

.nav .dropdown img {
	display: none;
}

.navbar .dropdown img {
	display: none;
}

.dropdown-menu > li > ul {
	display: none;
	list-style-type: none;
	position: absolute;
	left: 120px;
	top: 0;
	background: #fff;
	border: 1px solid #ccc;
}

.dropdown-menu > li:hover > ul {
	display: block;
}

a.brand {
	width: 200px;
	overflow: hidden;
	white-space: nowrap;

	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/* Subnav */
.subnav {
	width: 100%;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);

	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* W3C */

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #163355;

	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.08);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.08);
	box-shadow: 0 3px 5px rgba(0,0,0,.08);
	position: fixed;
	margin-top: 40px;
	z-index: 5;
}

.subnav h1 {
	font-size: 18px;
}

.subnav .nav {
	margin-bottom: 0;
	margin-top: -36px;
}

.subnav .nav > li > a {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	font-size: 13px;
	color: #777;
	border-right: 1px solid #d5d5d5;
	border-left: 1px solid #f5f5f5;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subnav .nav > li:last-child > a { border-right: none; }

.subnav .nav > li > a:hover,.subnav .nav .active a,.subnav .nav a:hover,.subnav .nav .active a {
	background: transparent;
	color: #333;
}

.subnav .nav .active a {
	background-color: #ddd;
	border-right-color: #c5c5c5;
	border-left: 0;

	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,0.1);
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.1);

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

footer.footer {
	padding-top: 10px;
	color: #858585;
}

.footer p {
	font-size: 11px;
}

/*
Toolbar Profile
 */
.toolbar-profile {
	padding: 12px;
	padding-bottom: 0;
	max-width: 500px !important;
}

.toolbar-profile .inner {
	width: 300px;
}

.toolbar-profile-info p {
	line-height: 1.3 !important;
}

.toolbar-profile-img {
	width: 100px;
	float: left;
	display: inline-block;
	margin-bottom: 8px;
}

.toolbar-profile-info {
	width: 190px;
	display: inline-block;
	padding-left: 10px;
}

.toolbar-profile-footer {
	border-top: 1px solid #e6e6e6;
}

/*
Toolbar Keys
 */
.toolbar-keys {
	padding: 12px;
	padding-bottom: 0;
	max-width: 500px !important;
}

.toolbar-keys .inner {
	width: 300px;
}

.toolbar-keys a {
	padding: 5px 0;
	color: #aaa;
}

.toolbar-keys ul {
	list-style: none;
	margin: 0;
}

.toolbar-keys ul li span {
	font-weight: bold;
	width: 80px;
}

/*
Grids
 */
.row,.last-column {
	overflow: hidden;
	*overflow: visible;
	*zoom: 1;
}

.row {
	margin-left: 0;
}

.column {
	float: left;
}

.column-right {
	float: right;
}

.size1of1 {
	float: none;
}

.size1of2 {
	width: 50%;
}

.size1of3 {
	width: 33.33333%;
}

.size2of3 {
	width: 66.66666%;
}

.size1of4 {
	width: 25%;
}

.size3of4 {
	width: 75%;
}

.size1of5 {
	width: 20%;
}

.size2of5 {
	width: 40%;
}

.size3of5 {
	width: 60%;
}

.size4of5 {
	width: 80%;
}

.last-column {
	float: none;
	width: auto;
	_position: relative;
	_left: -3px;
	_margin-right: -3px;
}

.row .admin-box {
	margin: 0 10px 20px 10px;
}

.row .last-column .admin-box {
	margin-right: 0;
}

.row .admin-box:first-child {
	margin-left: 0;
}

/* Admin Box */
.admin-box {
	border: 1px solid #d6e6f0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 18px;

	-ms-overflow-x: scroll;
	overflow-x: auto;
	min-height: 150px;
}

.admin-box h3 {
	background: #243957;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	padding: 0 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.admin-box .table {
	margin-bottom: 0;
	max-width: 100%;
}

.admin-box .table th {
	background-color: #ddd;
	border-bottom: 1px solid #b6b6c6;
}

.admin-box .form-actions,.admin-box form {
	margin-bottom: 0;
}

.admin-box .form-actions {
	margin-top: 0;
}

.admin-box tfoot {
	line-height: 18px;
}

.admin-box .nav {
	margin-bottom: 3px;
}

.admin-box > p {
	margin-left: 10px;
}

.media-box img {
	float: left;
	margin: 0 10px 10px 5px;
}

.admin-box .control-group:nth-child(even) {
	/*background-color:  #f9f9f9;
	*/
}

table .column-check {
	width: 10px;
	text-align: center;
}

tfoot td {
	line-height: 2.1 !important;
}

/*
Login Page
 */
.login-container {
	margin: 0 auto;
	width: 600px;
}

/*
Tabs
 */
.nav-tabs > li > a {
	border-color: #d5d5d5;
}

.nav-tabs a {
	color: #999;
	background-color: #f2f2f2;
}

.nav-tabs .active a {
	color: #222;
}

.nav-tabs li a:hover,.nav-tabs .active a {
	background-color: #fff;
}

.nav-tabs-left .tab-content {
	margin-left: 175px;
}

.admin-box .nav-tabs {
	background: #849cb7;
	padding-left: 10px;
	padding-top: 7px;
	border-bottom: 1px solid #767676;
}

.admin-box .nav-tabs a {
	background-color: #243957;
	color: #fff;
}

.admin-box .nav-tabs > li > a {
	border-color: #243957;
}

.admin-box .nav-tabs .active a {
	font-weight: bold;
	background: #fff;
	color: #000;
	border-color: #d5d5d5;
	border-bottom-color: #fff;
}

.admin-box .nav-tabs li a:hover {
	background-color: #f2f2f2;
	color: #777;
	border-color: #a6a6a6;
	border-bottom-color: #767676;
}

/*
Link Lists
 */
.filter-link-list a {
	display: inline-block;
	margin-right: 5px;
	line-height: 2.0;
}

/*
Forms
 */
.form-horizontal .control-group {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 18px;
	padding-top: 18px;
	margin-bottom: 0;
}

.form-horizontal .control-group > label {
	font-weight: bold;
	width: 180px;
}

.form-horizontal .control-group .controls {
	margin-left: 200px;
}

.form-horizontal .form-actions {
	padding-left: 200px;
}

.form-horizontal fieldset .control-group:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 36px;
}

label.checkbox {
	font-weight: normal;
}

input[type=checkbox],input[type=radio] {
	margin-right: 9px;
}

.help-inline,.help-block {
	color: #999;
}

.admin-box legend {
	display: block;
	background: #d9dde8;
	font-size: 16px;
	text-indent: 10px;
	font-weight: lighter;
	margin-bottom: auto;
}

@-moz-document url-prefix() {
	.admin-box legend  {
	 font-weight: normal;
}

/*
Additional Buttons
 */
}

 .btn.dark {
	background-color: #333333;

	background-image: -webkit-linear-gradient(top, #434343, #131313);
	background-image: -moz-linear-gradient(top, #434343, #131313);
	background-image: -o-linear-gradient(top, #434343, #131313);
	background-image: -ms-linear-gradient(top, #434343, #131313);
	background-image: linear-gradient(top, #434343, #131313);
	background-repeat: repeat-x;
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, .25);
	color: #eee;
}

.btn.dark:hover,.btn.dark:active,.btn.dark.active,.btn.dark.disabled {
	background-color: #333333;
}

.btn.dark[disabled] {
	background-color: #0055cc;
}

.btn.dark:active,.btn.dark.active {
	background-color: #004099 9;
}

.btn.small {
	line-height: 1.0;
}

.dropdown .caret {
	display: inline-block;
	margin-left: 6px;
}

.caret.light-caret {
	border-top: 4px solid #a6a6a6;
}

/*
  AJAX Loader
*/
#loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 9999;
	display: none;
}
#loader .box {
	position: relative;
	margin: 20px auto;
	text-align: center;
	padding: 20px 15px;
	background: #fff;
	border: 5px solid #3a527c;
	border-left: 0;
	border-right: 0;
}
#loader .box img {
	display: block;
	padding: 10px;
	margin: 0 auto;
}

/*
 * Drop-down menu 3rd Level fix/hack?
 */
li.parent-menu {
	position: relative;
}

/*--------------------------------------------------------------------
// RESPONSIVE FIXES
//-------------------------------------------------------------------*/

@media (max-width: 979px) {
	.navbar-fixed-top { position: relative; }
	.subnav { margin-top: 0; margin-bottom: 0; }
	#topbar { margin-bottom: 0; }
	.body { padding-top: 20px; margin-top: -5px; }
	.navbar .btn-navbar { display: inline; }
	#shortcuts { display: none; }
	#user-menu a { display: inline-block; width: auto; }
	.toolbar-profile-img { width: auto; }
	.toolbar-profile-img img { width: 24px; height: 24px; }
	#tb_email, 
	#user-menu .dropdown-toggle,
	#user-menu p { display: none !important; }
	.dropdown-menu > li:hover > ul { display: none; }
}

@media (max-width: 767px) {
	.navbar-fixed-top { margin-left: 0; margin-right: 0; }
}

@media (max-width: 480px) {
	#sub-menu { display: block; float: none; margin-top: 36px; }
	.form-horizontal .control-group > label { display: block; width: inherit; margin-left: 20px; }
	.form-horizontal .control-group .controls { margin-left: 20px; }
	.form-horizontal .form-actions { padding-left: 20px; }
}
