/*
	Bonfire default CSS styles.

	These styles are meant to be built on top of
	the latest release of Twitter's Bootstrap library.
*/
html {height:100%;}
body {height:100%;}

.body {
	background-color: #fff;
	border: 1px solid #DDD;
	border-top: none;

	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);

	padding: 60px 20px 20px 20px;
	z-index: 1;
	min-height: 300px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.narrow-body .container {max-width: 800px; min-height: 440px; border-radius: 10px;}
.navbar-fixed-top { margin-bottom: 0; }

footer.footer {padding-top: 10px; color: #858585;}
.footer p {font-size: 11px;}
.clearfix:before,
.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

/* login page */
.login_page {overflow:auto; height:100%;}
.login_page body {height:100%;max-width:inherit;margin:0 20px}
.login_page .login_box {position:relative;top:50%;width:380px;margin:0 auto 24px;background:#fff;border:1px solid #ccc;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);-ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);box-shadow: 0 0 6px rgba(0,0,0,0.2)}
.login_page .top_b {text-shadow:0 1px 0 rgba(255,255,255,.5);font: 100 18px/42px 'PT Sans', sans-serif;height:42px;padding:0 20px;background: #e0e0e0;border-bottom:1px solid #ccc;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px;font-size:15px}
.login_page .cnt_b {padding:30px 0;width:66%;margin:0 auto}
.login_page form {margin-bottom:0}
.login_page .btm_b {padding:12px 20px;border-top:1px solid #e7e7e7;background:#f7f7f7;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-radius: 0px 0px 6px 6px;border-radius: 0px 0px 6px 6px}
.login_page .links_b {width:100%;font-size:11px;text-align:center;position:absolute;bottom:-24px}
.login_page .link_pass {font-size:11px;padding:5px 0 0;display:block}
.tac {text-align: center;}
.alert-login {margin:10px 10px 0}
.alert-login .alert {margin-bottom:0;}